<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-2">
      <div class="circle">
        <br />
        WE
        <br />
        &lt;3
        <br />
        NY
      </div>
    </div>
    <div class="col-xs-7 slogan">
      All the reasons that makes us <span class="next-quote">&hearts;</span> NYC
    </div>
    <div class="col-xs-3 links">
      <%= link_to 'Contribute', '#' %>
      <%= link_to 'About', '#' %>
    </div>
  </header>
  <hr />

  <br class="clear">

  <div class="container">
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="col-xs-6 footer-link"><%= link_to 'Show me another reason', '#', class: 'next-quote' %></div>
      <div class="col-xs-6 footer-link made-by">made by <a href="mailto:arwen0603@gmail.com">Celia</a> with <span class="next-quote">&hearts;</span></div>

    </div>
  </footer>

</body>
</html>
